.home-button {
  background-color: #7860e5; /* Funky purple color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
  margin-left: 1rem; /* Adjust the margin-left value as needed */
}

.home-button:hover {
  background-color: #5a45cc; /* Darker funky purple color on hover */
}

.back-button {
  display: inline-block;
  background-color: #7860e5; /* Funky purple color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #5a45cc; /* Darker funky purple color on hover */
}
