
<div class="container mt-4" id="myContainer">
  <div class="row">
    <div class="col-md-6 order-md-1">
      <div class="d-flex justify-content-center" style="margin-top: 50px;">
        <img src="assets/image.png" alt="Image" class="img-fluid rounded" style="width: 500px; height: 600px; margin-left: -400px;">
      </div>
    </div>
    <div class="col-md-6 d-flex flex-column align-items-start justify-content-end order-md-2">
     
      <h1 class="customer-heading">Customer Management Module</h1>
      
      <a class="custom-button" routerLink="/get-started">
        Get Started
        <span class="arrow"></span>
      </a>
    </div>
  </div>
</div>
